In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
orders = '../Weather_Impact/example_orders.csv'
weather = '../Weather_Impact/example_weather.csv'

In [3]:
orders_df = pd.read_csv(orders, sep=',',header=0, encoding='latin-1', error_bad_lines=False,index_col = 0)
weather_df = pd.read_csv(weather, sep=',',header=0, encoding='latin-1', date_parser=lambda t: datetime.date.strptime(t, '%Y-%m-%d').date(), error_bad_lines=False)

In [4]:
orders_df, weather_df

(        cancelled_reason  user_id         day
 0                      0     5115  2013-01-01
 1                      0    15932  2013-01-01
 2                      0    20331  2013-01-01
 3                      0    20339  2013-01-01
 4                      0    19304  2013-01-01
 5                      0     7224  2013-01-01
 6                      0    19803  2013-01-01
 7                      0     9813  2013-01-01
 8                      0    17975  2013-01-01
 9                      0    12325  2013-01-01
 10                     0     1451  2013-01-01
 11                     0     7695  2013-01-01
 12                     0    15706  2013-01-01
 13                     0     4014  2013-01-01
 14                     0    17924  2013-01-01
 15                     0     1592  2013-01-01
 16                     0    11143  2013-01-01
 17                     0     1457  2013-01-01
 18                     0    17146  2013-01-01
 19                     0    20691  2013-01-01
 20                     0     5115  2013-01-01
 21                     0     4136  2013-01-01
 22                     0    15775  2013-01-01
 23                     0    16376  2013-01-01
 24                     0     5713  2013-01-01
 25                     0    11149  2013-01-01
 26                     0    18765  2013-01-01
 27                     0    16192  2013-01-01
 28                     0     5897  2013-01-01
 29                     0    20342  2013-01-01
 ...                  ...      ...         ...
 546094                 0     2451  2014-11-30
 546095                 0     1768  2014-11-30
 546096                 0     1110  2014-11-30
 546097                 0     5503  2014-11-30
 546098                 0     1926  2014-11-30
 546099                 0      326  2014-11-30
 546100                 0     6061  2014-11-30
 546101                 0     3287  2014-11-30
 546102                 0     6815  2014-11-30
 546103                 0     7321  2014-11-30
 546104                 0     3159  2014-11-30
 546105                 0     6801  2014-11-30
 546106                 0     5429  2014-11-30
 546107                 0     6147  2014-11-30
 546108                 0     6133  2014-11-30
 546109                 0     2390  2014-11-30
 546110                 0     4424  2014-11-30
 546111                 0     2360  2014-11-30
 546112                 0     4952  2014-11-30
 546113                 0     6788  2014-11-30
 546114                 0      169  2014-11-30
 546115                 0      299  2014-11-30
 546116                 0     6119  2014-11-30
 546117                 0      810  2014-11-30
 546118                 0     5446  2014-11-30
 546119                 0     2058  2014-11-30
 546120                 0     1157  2014-11-30
 546121                 0     7470  2014-11-30
 546122                 0     1658  2014-11-30
 546123                 0     6330  2014-11-30

 [546124 rows x 3 columns],
                   Time Precipitation  Unnamed: 2  Unnamed: 3
 0     13/12/2013 00:00           0.0         NaN         NaN
 1     13/12/2013 01:00           0.0         NaN         NaN
 2     13/12/2013 02:00           0.0         NaN         NaN
 3     13/12/2013 03:00           0.0         NaN         NaN
 4     13/12/2013 04:00           0.0         NaN         NaN
 5     13/12/2013 05:00           0.0         NaN         NaN
 6     13/12/2013 06:00           0.0         NaN         NaN
 7     13/12/2013 07:00           0.0         NaN         NaN
 8     13/12/2013 08:00           0.0         NaN         NaN
 9     13/12/2013 09:00           0.0         NaN         NaN
 10    13/12/2013 10:00           0.0         NaN         NaN
 11    13/12/2013 11:00           0.0         NaN         NaN
 12    13/12/2013 12:00           0.0         NaN         NaN
 13    13/12/2013 13:00           0.0         NaN         NaN
 14    13/12/2013 14:00           0.0         NaN         NaN
 15    13/12/2013 15:00           0.0         NaN         NaN
 16    13/12/2013 16:00           0.0         NaN         NaN
 17    13/12/2013 17:00           0.2         NaN         NaN
 18    13/12/2013 18:00           0.0         NaN         NaN
 19    13/12/2013 19:00           0.0         NaN         NaN
 20    13/12/2013 20:00           0.0         NaN         NaN
 21    13/12/2013 21:00           0.0         NaN         NaN
 22    13/12/2013 22:00           0.0         NaN         NaN
 23    13/12/2013 23:00           0.0         NaN         NaN
 24    14/12/2013 00:00           0.4         NaN         NaN
 25    14/12/2013 01:00           0.2         NaN         NaN
 26    14/12/2013 02:00           0.6         NaN         NaN
 27    14/12/2013 03:00           0.0         NaN         NaN
 28    14/12/2013 04:00           0.0         NaN         NaN
 29    14/12/2013 05:00           0.0         NaN         NaN
 ...                ...           ...         ...         ...
 3426  04/05/2014 18:00           0.0         NaN         NaN
 3427  04/05/2014 19:00           0.0         NaN         NaN
 3428  04/05/2014 20:00           0.0         NaN         NaN
 3429  04/05/2014 21:00           0.0         NaN         NaN
 3430  04/05/2014 22:00           0.0         NaN         NaN
 3431  04/05/2014 23:00           0.0         NaN         NaN
 3432  05/05/2014 00:00           0.0         NaN         NaN
 3433  05/05/2014 01:00           0.0         NaN         NaN
 3434  05/05/2014 02:00           0.0         NaN         NaN
 3435  05/05/2014 03:00           0.0         NaN         NaN
 3436  05/05/2014 04:00           0.0         NaN         NaN
 3437  05/05/2014 05:00           0.0         NaN         NaN
 3438  05/05/2014 06:00           0.0         NaN         NaN
 3439  05/05/2014 07:00           0.0         NaN         NaN
 3440  05/05/2014 08:00           0.0         NaN         NaN
 3441  05/05/2014 09:00           0.0         NaN         NaN
 3442  05/05/2014 10:00           0.0         NaN         NaN
 3443  05/05/2014 11:00           0.0         NaN         NaN
 3444  05/05/2014 12:00           0.0         NaN         NaN
 3445  05/05/2014 13:00           0.0         NaN         NaN
 3446  05/05/2014 14:00           0.0         NaN         NaN
 3447  05/05/2014 15:00           0.0         NaN         NaN
 3448  05/05/2014 16:00           0.0         NaN         NaN
 3449  05/05/2014 17:00           0.0         NaN         NaN
 3450  05/05/2014 18:00           0.0         NaN         NaN
 3451  05/05/2014 19:00           0.0         NaN         NaN
 3452  05/05/2014 20:00           0.0         NaN         NaN
 3453  05/05/2014 21:00           0.0         NaN         NaN
 3454  05/05/2014 22:00           0.0         NaN         NaN
 3455  05/05/2014 23:00           0.0         NaN         NaN

 [3456 rows x 4 columns])

In [5]:
# Converting dates to the same format

weather_df['Time'] = pd.to_datetime(weather_df['Time'])
weather_df['Time'] = weather_df['Time'].apply(lambda x:x.date().strftime('%d/%m/%Y'))

orders_df['day'] = pd.to_datetime(orders_df['day'])
orders_df['day'] = orders_df['day'].apply(lambda x:x.date().strftime('%d/%m/%Y'))

In [6]:
# Rearranging dataset and summing precipitation per day

weather_df = weather_df.drop(['Unnamed: 2', 'Unnamed: 3'], 1)
weather_df = weather_df[weather_df['Precipitation'] != 'n/a']
weather_df['Precipitation'] = [ float(_) for _ in weather_df['Precipitation']]
#weather_df = weather_df.groupby(by=['Time'])['Precipitation'].sum()
weather_df = weather_df.groupby(by=['Time'], as_index=False)['Precipitation'].sum()

In [7]:
# Joining both datasets by date

order_weather = orders_df.merge(weather_df, left_on=['day'], right_on=['Time'], how='inner')
order_weather = order_weather.drop('Time', 1)

In [8]:
order_weather

        cancelled_reason  user_id         day  Precipitation
0                      0    16496  13/12/2013            0.2
1                      0     1014  13/12/2013            0.2
2                      0    16522  13/12/2013            0.2
3                      0    26328  13/12/2013            0.2
4                      0     7138  13/12/2013            0.2
5                      0    16311  13/12/2013            0.2
6                      0    34553  13/12/2013            0.2
7                      0    28287  13/12/2013            0.2
8                      0     6829  13/12/2013            0.2
9                      0    39337  13/12/2013            0.2
10                     0    23902  13/12/2013            0.2
11                     0    17183  13/12/2013            0.2
12                     0    28015  13/12/2013            0.2
13                     0    14099  13/12/2013            0.2
14                     0     8111  13/12/2013            0.2
15                     0    22558  13/12/2013            0.2
16                     0    16023  13/12/2013            0.2
17                     0    34471  13/12/2013            0.2
18                     0     1559  13/12/2013            0.2
19                     0    15918  13/12/2013            0.2
20                     0    32611  13/12/2013            0.2
21                     0    34810  13/12/2013            0.2
22                     0    26467  13/12/2013            0.2
23                     0    23692  13/12/2013            0.2
24                     0    16585  13/12/2013            0.2
25                     0     8272  13/12/2013            0.2
26                     0     8960  13/12/2013            0.2
27                     0    15147  13/12/2013            0.2
28                     0    34840  13/12/2013            0.2
29                     0    12497  13/12/2013            0.2
...                  ...      ...         ...            ...
120276                 0     8739  04/11/2014            3.0
120277                 0     8519  04/11/2014            3.0
120278                 1     2554  04/11/2014            3.0
120279                 0     2341  04/11/2014            3.0
120280                 0     3819  04/11/2014            3.0
120281                 1     1011  04/11/2014            3.0
120282                 0     3925  04/11/2014            3.0
120283                 0     1564  04/11/2014            3.0
120284                 0     8225  04/11/2014            3.0
120285                 0     8381  04/11/2014            3.0
120286                 0      469  04/11/2014            3.0
120287                 0      431  04/11/2014            3.0
120288                 0     3107  04/11/2014            3.0
120289                 0     8384  04/11/2014            3.0
120290                 0     1375  04/11/2014            3.0
120291                 0     8433  04/11/2014            3.0
120292                 0     8112  04/11/2014            3.0
120293                 0      232  04/11/2014            3.0
120294                 1     2554  04/11/2014            3.0
120295                 0     1732  04/11/2014            3.0
120296                 0     2342  04/11/2014            3.0
120297                 1     8195  04/11/2014            3.0
120298                 0     8435  04/11/2014            3.0
120299                 0     3150  04/11/2014            3.0
120300                 0     5917  04/11/2014            3.0
120301                 0     2571  04/11/2014            3.0
120302                 0     7372  04/11/2014            3.0
120303                 0     5169  04/11/2014            3.0
120304                 0      602  04/11/2014            3.0
120305                 0     7343  04/11/2014            3.0

[120306 rows x 4 columns]