In [1]:
import pandas as pd
import numpy as np

In [2]:
orders = '../Weather_Impact/example_orders.csv'
weather = '../Weather_Impact/example_weather.csv'

In [3]:
orders_df = pd.read_csv(orders, sep=',',header=0, encoding='latin-1',error_bad_lines=False,index_col = 0)
weather_df = pd.read_csv(weather, sep=',',header=0, encoding='latin-1',error_bad_lines=False)

In [7]:
orders_df, weather_df

(        cancelled_reason  user_id         day
 0                      0     5115  2013-01-01
 1                      0    15932  2013-01-01
 2                      0    20331  2013-01-01
 3                      0    20339  2013-01-01
 4                      0    19304  2013-01-01
 5                      0     7224  2013-01-01
 6                      0    19803  2013-01-01
 7                      0     9813  2013-01-01
 8                      0    17975  2013-01-01
 9                      0    12325  2013-01-01
 10                     0     1451  2013-01-01
 11                     0     7695  2013-01-01
 12                     0    15706  2013-01-01
 13                     0     4014  2013-01-01
 14                     0    17924  2013-01-01
 15                     0     1592  2013-01-01
 16                     0    11143  2013-01-01
 17                     0     1457  2013-01-01
 18                     0    17146  2013-01-01
 19                     0    20691  2013-01-01
 20                     0     5115  2013-01-01
 21                     0     4136  2013-01-01
 22                     0    15775  2013-01-01
 23                     0    16376  2013-01-01
 24                     0     5713  2013-01-01
 25                     0    11149  2013-01-01
 26                     0    18765  2013-01-01
 27                     0    16192  2013-01-01
 28                     0     5897  2013-01-01
 29                     0    20342  2013-01-01
 ...                  ...      ...         ...
 546094                 0     2451  2014-11-30
 546095                 0     1768  2014-11-30
 546096                 0     1110  2014-11-30
 546097                 0     5503  2014-11-30
 546098                 0     1926  2014-11-30
 546099                 0      326  2014-11-30
 546100                 0     6061  2014-11-30
 546101                 0     3287  2014-11-30
 546102                 0     6815  2014-11-30
 546103                 0     7321  2014-11-30
 546104                 0     3159  2014-11-30
 546105                 0     6801  2014-11-30
 546106                 0     5429  2014-11-30
 546107                 0     6147  2014-11-30
 546108                 0     6133  2014-11-30
 546109                 0     2390  2014-11-30
 546110                 0     4424  2014-11-30
 546111                 0     2360  2014-11-30
 546112                 0     4952  2014-11-30
 546113                 0     6788  2014-11-30
 546114                 0      169  2014-11-30
 546115                 0      299  2014-11-30
 546116                 0     6119  2014-11-30
 546117                 0      810  2014-11-30
 546118                 0     5446  2014-11-30
 546119                 0     2058  2014-11-30
 546120                 0     1157  2014-11-30
 546121                 0     7470  2014-11-30
 546122                 0     1658  2014-11-30
 546123                 0     6330  2014-11-30

 [546124 rows x 3 columns],                   Time Precipitation
 0     13/12/2013 00:00           0.0
 1     13/12/2013 01:00           0.0
 2     13/12/2013 02:00           0.0
 3     13/12/2013 03:00           0.0
 4     13/12/2013 04:00           0.0
 5     13/12/2013 05:00           0.0
 6     13/12/2013 06:00           0.0
 7     13/12/2013 07:00           0.0
 8     13/12/2013 08:00           0.0
 9     13/12/2013 09:00           0.0
 10    13/12/2013 10:00           0.0
 11    13/12/2013 11:00           0.0
 12    13/12/2013 12:00           0.0
 13    13/12/2013 13:00           0.0
 14    13/12/2013 14:00           0.0
 15    13/12/2013 15:00           0.0
 16    13/12/2013 16:00           0.0
 17    13/12/2013 17:00           0.2
 18    13/12/2013 18:00           0.0
 19    13/12/2013 19:00           0.0
 20    13/12/2013 20:00           0.0
 21    13/12/2013 21:00           0.0
 22    13/12/2013 22:00           0.0
 23    13/12/2013 23:00           0.0
 24    14/12/2013 00:00           0.4
 25    14/12/2013 01:00           0.2
 26    14/12/2013 02:00           0.6
 27    14/12/2013 03:00           0.0
 28    14/12/2013 04:00           0.0
 29    14/12/2013 05:00           0.0
 ...                ...           ...
 3426  04/05/2014 18:00           0.0
 3427  04/05/2014 19:00           0.0
 3428  04/05/2014 20:00           0.0
 3429  04/05/2014 21:00           0.0
 3430  04/05/2014 22:00           0.0
 3431  04/05/2014 23:00           0.0
 3432  05/05/2014 00:00           0.0
 3433  05/05/2014 01:00           0.0
 3434  05/05/2014 02:00           0.0
 3435  05/05/2014 03:00           0.0
 3436  05/05/2014 04:00           0.0
 3437  05/05/2014 05:00           0.0
 3438  05/05/2014 06:00           0.0
 3439  05/05/2014 07:00           0.0
 3440  05/05/2014 08:00           0.0
 3441  05/05/2014 09:00           0.0
 3442  05/05/2014 10:00           0.0
 3443  05/05/2014 11:00           0.0
 3444  05/05/2014 12:00           0.0
 3445  05/05/2014 13:00           0.0
 3446  05/05/2014 14:00           0.0
 3447  05/05/2014 15:00           0.0
 3448  05/05/2014 16:00           0.0
 3449  05/05/2014 17:00           0.0
 3450  05/05/2014 18:00           0.0
 3451  05/05/2014 19:00           0.0
 3452  05/05/2014 20:00           0.0
 3453  05/05/2014 21:00           0.0
 3454  05/05/2014 22:00           0.0
 3455  05/05/2014 23:00           0.0

 [3456 rows x 2 columns])

In [6]:
weather_df = weather_df.drop(['Unnamed: 2', 'Unnamed: 3'], 1)